<div class="row no-gutter">
  <div class="col-sm-4 image-panel">
    <%= image_tag 'whiteboard.jpg' %>
    <div class="section-title">
      <h1>Projects</h1>
    </div>
  </div>
  <!-- this is not right, needs to wrap it but keep styling -->
  <div class="col-sm-4 image-panel">
    <%= link_to image_tag('olympics.jpg'), posts_path %>
    <div class="section-title">
      <h1>Blog</h1>
    </div>
  </div>
  <div class="col-sm-4 image-panel">
    <%= image_tag 'jonathan.jpg' %>
    <div class="section-title">
      <h1>About Me</h1>
    </div>
  </div>
</div>
