<% content_for(:title, "Jonathan Thom | Projects") %>

<div class="page-title">
  <h2>Projects</h2>
</div>

<div class="container">
  <h1 class="text-center">Recent sites I've developed.</h1>
  <p class="text-center">Some complete, some not. Some deployed, others not. Make a pull request or something!</p>
  <div class="row">
    <div class="col-sm-6">
      <h2>Statetopia</h2>
      <h3 class="text-left">Ruby on Rails</h3>
      <h4>Collaborators: Tracie Weitzman</h4>
      <p>A fun (and politically transparent) text based nation-building game. The US has fractured (in only 2019!), and you are tasked with running one of the new country-states.</p>
      <p>Github Repo</p>
      <p>Deployed</p>
    </div>
    <div class="col-sm-6">
      <%= image_tag 'jonathan1.jpg', :class => 'profile-image' %>
    </div>
  </div>
</div>
