@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', sans-serif;
}

ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
    text-align: center;
}

h1 {
  text-align: center;
}

li {
  display: inline;
}

li img {
  text-align: center;
  height: 50px;
  padding-left: 10px;
}
