.image-panel img {
  width: 100%;
  position: relative;
  padding-right: 0;
  padding-left: 0;
}

.row.no-gutter {
  margin-left: 0;
  margin-right: 0;
}

.row.no-gutter [class*='col-'],
.row.no-gutter [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.section-title {
  position: absolute;
  top: calc(50% - 24px);
  left: 0;
  text-align: center;
  width: 100%;
  display: none;
  h1 {
    color: white;
  }
}

.image-panel img:hover {
  opacity: 0.6;
}

.image-panel img:hover + .section-title {
  display: block;
}
